.viz svg {
	display: block;
	margin: 0 auto;
	border: 1px solid #AAA;
}

.node {
	stroke: #AAA;
	stroke-width: 1;
	cursor: move;
}

.edge {
	stroke: #999;
	stroke-opacity: 0.25;
}

.extensible {
	stroke: #FFD700;
	cursor: pointer;
}

.active {
	fill: #FFD700 !important; /* XXX: necessary to override inline styles */
}
